@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cabecalho {
    width: 100%;
    padding: 15px 40px; 
    background-color: transparent;
}

.cabecalho-logo {
    display: flex;
    align-items: center;
}

.logo-circulo-imagem {
    width: 28px; 
    height: 28px; 
    border-radius: 50%;
    
    background-image: url('./img/Logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    margin-right: 6px;
}

.logo-texto {
    font-size: 16px;
    color: #444; 
    font-weight: 500;
}

.conteudo-principal {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cartao-cadastro {
    width: 100%;
    max-width: 550px; 
    background-color: white;
    border-radius: 20px; 
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); 
    text-align: center;
}

.titulo-cartao {
    font-size: 26px; 
    font-weight: 500; 
    color: #333;
    margin-bottom: 30px;
}

.container-formulario {
    text-align: left;
}

.titulo-secao-formulario {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
}

.formulario-cadastro {
    display: flex;
    flex-direction: column;
}

.rotulo-input {
    font-size: 14px;
    color: #555; 
    font-weight: 400;
    margin-top: 15px; 
    margin-bottom: 5px; 
}

.campo-texto-input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #e0e0e0; 
    border-radius: 6px; 
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.2s;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05); 
}

.campo-texto-input:nth-last-of-type(1) {
    margin-bottom: 30px; 
}

.botao-enviar {
    background: linear-gradient(to bottom, #009DDD 0%, #009DDD 100%); 
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 0; 
    width: 50%; 
    align-self: center;
    border-radius: 30px; 
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4); 
    transition: background 0.2s, box-shadow 0.2s;
}

.botao-enviar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 30px; 
}

.botao-enviar:hover {
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.6);
}